
#report-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #0bf574;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Adjust as needed */
}

#image-upload {
  margin-bottom: 20px;
}

#report {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  resize: none;
  overflow: hidden;
}

#company {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #0b6228;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #084f22;
}




#image-preview-container {
  display: none;

  margin-bottom: 30px;
}

#image-preview {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
